Django==1.5.1
Pillow==2.2.1
South==0.8.1
cmsplugin-filer==0.9.5
django-classy-tags==0.4
django-cms==2.4.1
django-filer==0.9.4
django-mptt==0.5.2
django-polymorphic==0.5.3
django-reversion==1.7
django-sekizai==0.7
django-suit==0.2.5
easy-thumbnails==1.4
html5lib==1.0b1
six==1.3.0
wsgiref==0.1.2
